// Breakpoints
$sm: 320px;
$md: 768px;
$lg: 960px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.menu {
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;

  @media (max-width: $md) {
    max-width: 100%;
    flex-basis: auto;
  }
}

.results {
  flex-grow: 0;
  max-width: 83.333333%;
  flex-basis: 83.333333%;

  @media (max-width: $md) {
    max-width: 100%;
    flex-basis: auto;
  }
}

.ais-Hits-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $md) {
    width: calc(100% + 24px);
  }
}

.ais-Hits-item {
  width: 25%;

  @media (max-width: $lg) {
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  @media (max-width: $md) {
    max-width: 100%;
    flex-basis: 100%;
  }
}
